source: c

compiler: gcc

os:
  - linux
  - osx

addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
    packages:
      - cmake
      - cmake-data
      - libglib2.0-dev
      - check

before_install:
  # TODO: remove once https://github.com/travis-ci/travis-ci/issues/5377 is done
  - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew update; fi"
  - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew install glib check; fi"

before_script:
  - mkdir build
  - cd build
  - cmake .. -DINSTALL_BASH_COMPLETION=OFF

script: make && make test
